<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>

    <!-- Define some output appenders -->

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\rolling-log.txt" />
      <appendToFile value="true" />

      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;"/>
        <footer value="[Footer]&#13;&#10;"/>
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>

    <!-- Specify the level for some specific categories -->

    <root>
      <!-- <appender-ref ref="B" /> -->
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>

  </log4net>
  <appSettings>
    <!--<add key="db" value="Data Source=S0003537.ecdomain.net,1433;Initial Catalog=PAL;Integrated Security=False;User Id=pctextern;Password=pctopp"/>-->
    <add key="db" value="Data Source=.\sqlexpress,54378;Initial Catalog=sca;Integrated Security=True;User Id=pctextern;Password=pctopp"/>
  </appSettings>
</configuration>